#canvas {
    height: 10000px;
    width: 10000px;
    background-color: #000;
}

#sun {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(252, 173, 26);
    border-radius: 50%;
    box-shadow: 0 0 100px rgb(252, 173, 26);
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -75px;
}

#mercury {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: rgb(211, 211, 211);
    height: 3.8px;
    width: 3.8px;
    margin-top: -1.9px;
    margin-left: -1.9px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(211, 211, 211);
}

#venus {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: rgb(255, 238, 82);
    height: 9.5px;
    width: 9.5px;
    margin-top: -4.75px;
    margin-left: -4.75px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(255, 238, 82);
}

#earth {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: rgb(52, 152, 219);
    height: 10px;
    width: 10px;
    margin-top: -5px;
    margin-left: -5px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(52, 152, 219);
}

#moon {
    position: absolute;
    top: 15%;
    left: 50%;
    background-color: rgb(172, 172, 172);
    height: 2.7px;
    width: 2.7px;
    margin-top: -1.35px;
    margin-left: -1.35px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(172, 172, 172);
}

#mars {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: rgb(182, 36, 0);
    height: 5.3px;
    width: 5.3px;
    margin-top: -2.65px;
    margin-left: -2.65px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(182, 36, 0);
}

#jupiter {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: rgb(187, 138, 3);
    height: 112px;
    width: 112px;
    margin-top: -56px;
    margin-left: -56px;
    border-radius: 50%;
    box-shadow: 0 0 40px rgb(187, 138, 3);
}

#saturn {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: rgb(114, 84, 0);
    height: 94.5px;
    width: 94.5px;
    margin-top: -47.25px;
    margin-left: -47.25px;
    border-radius: 50%;
    box-shadow: 0 0 40px rgb(114, 84, 0);
}

#uranus {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: rgb(22, 160, 133);
    height: 40px;
    width: 40px;
    margin-top: -20px;
    margin-left: -20px;
    border-radius: 50%;
    box-shadow: 0 0 40px rgb(22, 160, 133);
}

#neptune {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: rgb(8, 68, 129);
    height: 38.8px;
    width: 38.8px;
    margin-top: -19.4px;
    margin-left: -19.4px;
    border-radius: 50%;
    box-shadow: 0 0 40px rgb(8, 68, 129);
}

#pluto {
    position: absolute;
    top: 0;
    left: 50%;
    background-color: rgb(143, 178, 253);
    height: 2px;
    width: 2px;
    margin-top: -1px;
    margin-left: -1px;
    border-radius: 50%;
    box-shadow: 0 0 40px rgb(143, 178, 253);
}

#mercury-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    /* border-width: 2px;
    border-style: dotted;
    border-color:  rgb(211, 211, 211); */
    border-radius: 50%;
    animation: spin 8.797s linear infinite;
}

#venus-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
    /* border-width: 2px;
    border-style: dotted;
    border-color:  rgb(255, 238, 82); */
    border-radius: 50%;
    animation: spin 22.47s linear infinite;
}

#earth-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 450px;
    margin-top: -225px;
    margin-left: -225px;
    /* border-width: 2px;
    border-style: dotted;
    border-color:  rgb(52, 152, 219); */
    border-radius: 50%;
    animation: spin 36.526s linear infinite;
}

#moon-orbit {
    position: absolute;
    top: 44.5%;
    left: 94.5%;
    width: 50px;
    height: 50px;
    margin-top: -225px;
    margin-left: -225px;
    border-radius: 50%;
    animation: spin 2.7s linear infinite;
}

#mars-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    margin-top: -300px;
    margin-left: -300px;
    /* border-width: 2px;
    border-style: dotted;
    border-color:  rgb(182, 36, 0); */
    border-radius: 50%;
    animation: spin 68.62s linear infinite;
}

#jupiter-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    margin-top: -400px;
    margin-left: -400px;
    /* border-width: 2px;
    border-style: dotted;
    border-color:  rgb(187, 138, 3); */
    border-radius: 50%;
    animation: spin 432.89s linear infinite;
}

#saturn-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 950px;
    height: 950px;
    margin-top: -475px;
    margin-left: -475px;
    /* border-width: 2px;
    border-style: dotted;
    border-color:  rgb(114, 84, 0); */
    border-radius: 50%;
    animation: spin 1075.29s linear infinite;
}

#uranus-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1050px;
    height: 1050px;
    margin-top: -525px;
    margin-left: -525px;
    /* border-width: 2px;
    border-style: dotted;
    border-color:  rgb(22, 160, 133); */
    border-radius: 50%;
    animation: spin 3066.365s linear infinite;
}

#neptune-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1200px;
    height: 1200px;
    margin-top: -600px;
    margin-left: -600px;
    /* border-width: 2px;
    border-style: dotted;
    border-color:  rgb(8, 68, 129); */
    border-radius: 50%;
    animation: spin 6014.835s linear infinite;
}

#pluto-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1300px;
    height: 1300px;
    margin-top: -650px;
    margin-left: -650px;
    /* border-width: 2px;
    border-style: dotted;
    border-color:  rgb(143, 178, 253); */
    border-radius: 50%;
    animation: spin 9070.25s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg)
    }
}
